.tippy-box[data-theme~='peek'] {
    padding: 0 !important;
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 4px !important;
}

.tippy-box[data-theme~='peek'] .tippy-content {
    padding: .30rem !important;
}

.tippy-box[data-theme~='peek'] video, .tippy-box[data-theme~='peek'] audio, .tippy-box[data-theme~='peek'] img .tippy-box[data-theme~='peek'] embed {
    border-radius: 4px !important;
}

.tippy-box[data-theme~='peek'] video, .tippy-box[data-theme~='peek'] img {
    max-width: 320px !important;
    max-height: 280px !important;
    min-width: 100px !important;
    min-height: 100px !important;
}

.tippy-box[data-theme~='peek'] audio {
    width: 300px !important;
}

.tippy-box[data-theme~='peek'] video:focus, .tippy-box[data-theme~='peek'] audio:focus {
    outline: 0 !important;
}

.tippy-box[data-theme~='peek'] embed {
    width: 320px;
    height: 280px;
    background: #FFFFFF !important;
}

.tippy-box[data-theme~='peek'] .peek-info-banner {
    display: block !important;
    text-align: left !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    font-size: 12px !important;
    margin-top: 5px !important;
}