.jumbotron .container {
    background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon128.png');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 120px;
    min-height: 80px;
}

/* Fix for Firefox's different URL scheme */
@supports (-moz-appearance:none) {
    .jumbotron .container {
        background-image: url('moz-extension://__MSG_@@extension_id__/img/icon128.png');
    }
}