@font-face {
	font-family: Roboto;
	src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Medium.ttf');
}
.tooltipster-peek .tooltipster-box {
	background: #565656 !important;
	color: #FFF !important;
	padding: 0px !important;
	border-radius: 2px !important;
	max-height: auto !important;
	font-family: Roboto !important;
	font-size: 14px !important;
}
.tooltipster-peek .tooltipster-content {
	padding: 0px !important;
}
.tooltipster-peek-warning .tooltipster-content {
	padding: 5px !important;
	max-width: 280px !important;
}
.tooltipster-peek .tooltipster-content embed, .tooltipster-peek .tooltipster-content video, .tooltipster-peek .tooltipster-content audio, .tooltipster-peek .tooltipster-content img {
	border-radius: 2px 2px 0px 0px !important;
	border: 0px !important;
	max-width: 400px !important;
	max-height: 350px !important;
	padding: 0px !important;
	background: url('chrome-extension://__MSG_@@extension_id__/img/preloader.gif') no-repeat center #424242 !important;
}
.tooltipster-peek .tooltipster-content video, .tooltipster-peek .tooltipster-content audio {
	border-radius: 2px 2px 0px 0px !important;
	border: 0px !important;
	max-height: 150px !important;
	width: 100% !important;
	background: #565656 !important;
}
.tooltipster-peek .tooltipster-content audio {
	width: 300px !important;
}
.tooltipster-peek .tooltipster-content video {
	background: url('chrome-extension://__MSG_@@extension_id__/img/preloader.gif') no-repeat center #424242 !important;
}
.tooltipster-peek .tooltipster-content #peekmessage {
	min-width: 200px !important;
}
.tooltipster-peek .tooltipster-content .peeksettings, .tooltipster-peek .tooltipster-content .peekpopup {
	background-position: center !important;
	width: 14px !important;
	height: 14px !important;
	display: block !important;
	cursor: pointer !important;
	float: right !important;
}
.tooltipster-peek .tooltipster-content .peeksettings {
	background:url('chrome-extension://__MSG_@@extension_id__/img/gear.png') no-repeat !important;
}
.tooltipster-peek .tooltipster-content .peekpopup {
	background:url('chrome-extension://__MSG_@@extension_id__/img/popup.png') no-repeat !important;
	margin-left: 10px !important;
}
